
*, *:before, *:after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'digital-7';
    src: url('../fonts/digital-7.ttf');
  }

body {
    margin: 0;
    background-color: antiquewhite;
    display: flex;
    flex-flow:row;
    align-content:stretch;
    justify-content: center;
    align-items: left;
    font-family: 'digital-7', sans-serif;
    
}

#calc, #eqHist {
    border: 1.5rem solid slategrey;
    height: 46rem;
    width: 30rem;
    background-color: rgb(60, 59, 60);
    border-radius: 2rem;
    justify-content: center;
    align-content: center;
    box-shadow: 2rem 2rem rgb(60, 59, 60);
    text-align: center;
    margin-top: 1rem;
}

h3 {
    height: 6rem;
    border: .5rem solid darkorchid;
    text-align: right;
    font-size: 3.25rem;
    margin: 1.5rem .75rem 1.5rem 2rem;
    line-height: 7rem;
    border-radius: 1rem;
    width: 85%;
    color: white;
    box-shadow: .2rem .2rem .3rem .3rem darkorchid, -.2rem -.2rem .3rem .3rem darkorchid;
    color: chartreuse;
    padding-right: .5rem;
}

button {
    height: 5rem;
    width: 5rem;
    margin: .75rem .5rem 1rem .75rem;
    border-radius: 2rem;
    border: .5rem solid indigo;
    border: 1rem inset indigo;
    border: 1rem outset indigo;
    background-image: radial-gradient(darkmagenta, darkorchid, darkviolet);
    color: aliceblue;
    font-size: 1.75rem;
    box-shadow: .2rem .2rem .3rem .3rem white, -.2rem -.2rem .3rem .3rem white;
}

button:active {
    transform: translate(2px, 2px); 
    box-shadow: 0 0 1rem 1rem inset darkorchid;

}

.dbl-btn {
    width: 11.5rem;
}

h1 {
    font-size: 3rem;
    text-align: center;
}
li {
    font-size: 2rem;
}

#eqHist {
    background-color: chartreuse;
    margin-left: 10rem;
    font-weight: bold;
}

@media only screen and (max-width: 1125px) {
    body {
      flex-flow: column;
      align-items: center;
      align-content: center;
    }
    #eqHist {
        margin-left: 0;
        margin-top: 3rem;
    }
  }