
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: antiquewhite;
    display: flex;
    flex-flow: column;
    align-items: center;
    font: char-lcd;
    
}

#calc {
    border: .5rem solid slategrey;
    height: 55vh;
    width: 30vw;
    background-color: violet;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
}

h3 {
    height: 4rem;
    border: .5rem solid darkorchid;
    text-align: right;
    font-size: 3.25rem;
    margin: 1.5rem .75rem 1.5rem .75rem;
    line-height: 3rem;
    border-radius: 1rem;
}

button {
    height: 4.1rem;
    width: 4.1rem;
    margin: .3rem .3rem .3rem .6rem;
    border-radius: 2rem;
    border: .5rem solid indigo;
    background-color: blueviolet;
    color: aliceblue;
    font-size: 1.75rem;
}
